<configuration
        scan="true"
        scanPeriod="15 seconds"
        packagingData="true"
>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{25}::%method - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>taskId</key>
            <defaultValue>main</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${userid}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${taskId}.log</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{ISO8601} [%thread] %-5level %logger{25}::%method - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="com.crappyengineering.luker.Luke3" level="INFO"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SIFT" />
    </root>
</configuration>